* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
}



img {
    scale: 15%;
    text-align: center;
    float: left;
    margin-left: -290px;
    margin-top: -200px;
}

nav {
    background-color: #000000;
    height: 100vp;

}

nav ul {
    list-style-type: none;
    text-align: right;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: whitesmoke;
    font-size: 27px;
    padding: 12px;
    text-align: right;
    margin-top: 20px;
    margin-right: 20px;
    text-decoration-line: none;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 300;
    font-style: normal;
}

figure {
    text-align: center;

}

figure video {
    height: 500px;
    position: static;
    float: left;
    margin-top: 80px;
    text-align: center;
    display: inline-block;
}

.just {
    position: static;
    text-align: center;
    float: left;
}

.d {
    background-color: rgb(0, 0, 0);
    width:200px;
}

div h1 {
    color: white;
    text-align: center;
    position: static;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
    float: left;
}